@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/ShoppingCart" class="btn btn-outline-secondary float-end"><i class="bi bi-cart"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
